@import "../global/color.scss";

.select {
  &__label {
    &--disabled {
      color: $gray;
    }

    &--disabled .input__box {
      border-color: #ddd;
    }
  }

  &__field {
    padding: 0;
  }
}
